.position-relative .position-absolute {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
    border-radius: undefinedpx;
    top: -16px;
    right: 0;
    /* background: rgb(87 86 86); */
    padding: 5px 8px;
    border-radius: 5px;
    /* color: white; */
    min-width: 783px;
    z-index: 9;
  }